main {
	display: flex;
	flex-direction: column;
	margin: 1rem 5rem;
	align-items: center;

	.text-box {
		margin: 2rem;
		font-size: 0.8rem;
	}
	.articles-container {
		display: grid;
		grid-template-columns: repeat(2, minmax(225px, 1fr));
		max-width: 1000px;
		grid-auto-rows: auto;
		gap: 4rem;
	}
}
