.header {
	background-color: #f5f5f5;
	padding: 1em;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1rem;
	label {
		font-weight: bold;
		font-size: 3rem;
	}
	select {
		margin-left: 3rem;
		font-size: 2rem;
	}
}
